.price-table {
  table-layout: fixed;
  width: 300%;

  border-collapse: collapse;
}

.price-table__th {
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  border-left: 2px solid #e5e5e5;
  background-color: $color-blue;

  span {
    font-size: 24px;
    font-weight: 400;
  }

  &:nth-child(2) {
    border-left: none;
  }
}

.price-table__td {
  box-sizing: border-box;
  width: 100%;
  min-width: 280px;
  padding: 16px 20px;

  font: inherit;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;

  border: 2px solid #e5e5e5;
}

.price-table__td--col-1 {
  display: none;
}

.price-table__row-name {
  margin-right: 20px;
}

.price-table__value {
  position: relative;

  display: inline-block;
  float: right;
  width: 37px;
  height: 37px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 14px;

    display: block;
    width: 37px;
    height: 3px;

    background-color: #f25b26;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  outline: 1px solid magenta;
}

.price-table__value--yes {  &::before,
  &::after {
    content: "";
    width: 37px;
    height: 3px;

    background-color: #3dc644;
  }

  &::before {
    left: 10px;

    width: 31px;
  }

  &::after {
    top: 17px;
    left: -2px;
    width: 21px;
  }

}

@media (min-width: $tablet-width) {
  .price-table {
    width: 100%;
  }

  .price-table__th {
    font-size: 16px;

    span {
      font-size: 18px;
    }
  }

  .price-table__td {
    min-width: 155px;

    text-transform: capitalize;

    &:not(:first-child) {
      text-align: center;
    }
  }

  .price-table__td--col-1 {
    display: table-cell;
  }

  .price-table__row-name {
    display: none;
  }

  .price-table__value {
    float: none;
  }

  .price-table__dots {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price-table__th {
    font-size: 18px;

    span {
      font-size: 24px;
    }
  }
}
