.slider {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

.slider__viewport {
  position: relative;
  width: 100%;

  outline: 1px solid magenta;
  background-color: rgba(magenta, 0.3);
}

.slider__frame {
  position: relative;
  width: 100%;
  transition: 1s;
  outline: 3px solid blue;
}

.slider__slides-list {
  transition: transform 1s;
}

.slider__item {
  position: relative;

  box-sizing: border-box;
  width: 100%;

  // --------
  flex-shrink: 0;
  min-height: 50px;
  border: 2px solid green;
}

.slider__dot--current {
  background-color: red;
}

.slider__button {
  &:disabled {
    opacity: 0.2;
  }
}

// -----only for development------
.slider__slides-list {
  @include list-style-reset;

  display: flex;
}
// -----^^^^^^^^^^^^----
